black
flake8
ipython
isort
jupyter
jupyter_client
jupyterlab
kedro[pandas.CSVDataSet]
kedro-viz
# kedro-telemetry~=0.1.0
nbstripout
pytest-cov
pytest-mock
pytest
wheel

s3fs
scikit-learn
# streamlit==0.88.0
# wandb==0.12.1
matplotlib
implicit
