black
flake8
ipython
isort
jupyter
jupyter_client
jupyterlab
kedro[pandas.CSVDataSet]==0.17.6
kedro-viz
nbstripout
pytest-cov
pytest-mock
pytest
wheel
# There is a version incompatibility in botocore between awscli and s3fs
awscli
# s3fs
scikit-learn
matplotlib
tabulate
git+https://github.com/benfred/implicit.git@main
